.accueil {
    height: 100vh; /* Ceci assure que chaque section prendra 100% de la hauteur de l'écran */
    overflow: hidden; /* Ceci masque le contenu qui déborderait de la section */
}

/**********************************HEADING CONTENT**********************************/

.heading-content {
    background-image: url(../assets/img/andyone--WW8jBak7bo-unsplash.jpg);
    background-size: cover;
    padding: 280px;

}

.heading-content h1{
    font-size: 5em;
    display: inline;
    padding: 30px;
    border: 2px solid white;
    font-weight: bolder;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}


.heading-content h5{
    padding-top: 50px;
    font-size: 1.6em;
    font-weight: 300;
    color: #fff;
    font-family: monospace;
}

.heading-content p{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: lighter;
    color: #ccc;
    word-spacing: 5px;
    letter-spacing: 2px;
}

/**********************************NAVIGATION BARRE**********************************/

.navbar{
    width: 100%; /* Choisissez la largeur appropriée */
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background: rgba(0, 0, 0, 0.6) !important;
    padding: 15px 0;      
    text-align: center;
  
    
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-left: 20px;

}



.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
    text-decoration: none;
    
}

/**********************************SECTION SERVICE**********************************/


.portfolio {
    color: aliceblue;
    padding: 67px 0 45px 0;
    background-color:  #8a90ad;
    background-size: cover;
    font-family: 'Manrope', sans-serif;
    height: 100vh; /* Ceci assure que chaque section prendra 100% de la hauteur de l'écran */
    overflow: hidden; /* Ceci masque le contenu qui déborderait de la section */
    padding: 40px;


}

.img_portfolio {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 100px 0 0 0;
    
}

.img_ride {
    transition: transform 1s ease; /* Transition pour l'effet d'animation */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0); /* Ombre initiale transparente */

}

.img_ride:hover {
    transform: scale(1.1); /* Augmente la taille de l'image au survol */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombre pour l'effet de bouton */

}

.img_ride:active {
    transform: scale(0.95); /* Réduit légèrement la taille de l'image au clic */
    box-shadow: none; /* Supprime l'ombre au clic */
    transition-duration: 2s; /* Prolonge la transition au clic */

}


.img_anna {
    transition: transform 1s ease; /* Transition pour l'effet d'animation */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0); /* Ombre initiale transparente */
    

}

.img_anna:hover {
    transform: scale(1.1); /* Augmente la taille de l'image au survol */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombre pour l'effet de bouton */
}

.img_anna:active {
    transform: scale(0.95); /* Réduit légèrement la taille de l'image au clic */
    box-shadow: none; /* Supprime l'ombre au clic */
    transition-duration: 2s; /* Prolonge la transition au clic */

}


.img_yummy {
    transition: transform 1s ease; /* Transition pour l'effet d'animation */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0); /* Ombre initiale transparente */

}

.img_yummy:hover {
    transform: scale(1.1); /* Augmente la taille de l'image au survol */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombre pour l'effet de bouton */

}

.img_yummy:active {
    transform: scale(0.95); /* Réduit légèrement la taille de l'image au clic */
    box-shadow: none; /* Supprime l'ombre au clic */
    transition-duration: 2s; /* Prolonge la transition au clic */

}


/**********************************SECTION A PROPOS**********************************/


.a-propos-part {
    background-color: #1F2039;
    padding: 160px;
    color: #f9f8ff;
    font-family: 'manrope';
    letter-spacing: 0.1rem;
    font-weight: 400;
    height: 100vh; /* Ceci assure que chaque section prendra 100% de la hauteur de l'écran */
    overflow: hidden; /* Ceci masque le contenu qui déborderait de la section */



}

.a-propos-containt {
    width: 100%;
    margin: auto;
    padding: 30px; 
    border-bottom: 1px solid #8e86b5;
    border-right: 1px solid #8e86b5;
 

}

.title-a-propos {
    font-size: 3.5em;
    color:#a5B4FC;
    font-family: 'Montserrat', sans-serif;
   
}

.CV {
    text-align: center;
    transition: transform 1s ease; /* Transition pour l'effet d'animation */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0); /* Ombre initiale transparente */
    padding: 5px 0 0 0;

}

.CV:hover {
    transform: scale(1.02); /* Augmente la taille de l'image au survol */
    box-shadow: 0px 0px px rgba(0, 0, 0, 0.5); /* Ombre pour l'effet de bouton */



}

.cv:active {
    transform: scale(1.1); /* Réduit légèrement la taille de l'image au clic */
    box-shadow: none; /* Supprime l'ombre au clic */
    transition-duration: 1s; /* Prolonge la transition au clic */

}


.mon_cv{
    font-size: medium;
    background-color: #b4c1ff;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    display: block;
    padding: 7px;
    font-family: 'manrope';
    font-weight: 700;
    text-decoration: none;
    transition: background-color 1s ease; /* Transition douce de la couleur de fond */


}

.mon_cv:hover {
    background-color: #b6b6b6;
    color: #ffffff;




}



/**********************************SECTION CONTACT**********************************/

.contact {
    padding: 130px;
    height: 100vh; /* Ceci assure que chaque section prendra 100% de la hauteur de l'écran */
    overflow: hidden; /* Ceci masque le contenu qui déborderait de la section */

}


footer {
    text-align: center;
    background-color: #d3dce1;
    padding: 30px;
}

.icon {
    padding: 30px;

}

.form_containt {
    width: 100%;
    padding-bottom: 30px;

  }